# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/release/
/.cache/electron-builder/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
.opencode

# python
.venv/
__pycache__/
*.pyc

# npm-cache
.npm-cache/